*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: myfont;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
background-color: #3c5657;
    backdrop-filter: blur(10px);
    background-size: cover;
    background-repeat: no-repeat;
}

/* Login box */
.box {
    padding: 30px 20px;
    width: 400px;
    height: 470px;
    background-color: rgba(47, 47, 50 ,0.2);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
    border-radius: 40px;
    text-align: center;
    backdrop-filter: blur(15px);

}

/* Heading */
.box h1 {
    margin: 0;
    font-size: 40px;
    color: #ffffff; /* Dark blue */
    margin-bottom: 10px;
}

/* Input field styling */
.input-group {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
    text-align: left;
}

.input-group input {
  height: 50%;
    width: 100%;
    padding: 15px 10px;
    font-size: 18px;
    border-radius: 30px;
    border: none;
    background: rgb(255, 246, 246);
    color:#8A7C57;
    outline: none;
}


.input-group input::placeholder {
    color:#8A7C57;
    }


.input-group .yy{
    font-size: 20px;
    margin-bottom: 5px;
    color: #ffffff;

font-weight:bold;
}


.input-group i{
    position: absolute;
    right: 20px;
    color:#8A7C57;
    font-size: 20px;
    top: 70%;
    transform: translateY(-50%);
    

}

/* Error messages */
.error {
    position: absolute;
    color: rgb(215, 41, 41);
    font-size: 15px;
    display: block;
   bottom: -25px;

}

.forgot-password {
    text-align: right;
    font-size: 20px;
    margin-top: 20px;
   
    margin-bottom: 20px;
}

.forgot-password a {
    color: #ffffff;
    text-decoration: none;
}

.forgot-password a:hover {
    text-decoration: underline;
}

/* Submit button */
.button {
    width: 100%;
    padding: 15px;
    font-size: 20px;
    border-radius: 30px;
    border: 1px solid transparent; /* Initially, no visible border */
    background: rgb(255, 255, 255);
    color:#8A7C57;
    cursor: pointer;
  
}

.button:hover {
    background-color: #3c5657;
    border: 5px;
    border-color: black;
    color: rgb(255, 255, 255);
    transform: translateY(-10%);
    transition-duration: 1s;
    border: 1px solid #ffffff; /* Change to your preferred border color */
}
@font-face {


    font-family: myfont;
    src: url(99.otf);
         
    /* Add more src lines for different font file formats if necessary */
  }

@keyframes Slideinleft{

    from{
        transform: translateX(70%);
    }

    to{
        transform: translateX(0%);
    }
}
.button{
   animation-name: Slideinleft;
   animation-duration: 1s;
}
@keyframes bounce-top {
			
    0% {
        transform:translateY(0);
    }
    25% {
        transform:translateY(0);
    }
    40% {
        transform:translateY(-24px);
    }
    55% {
        transform:translateY(0);
    }
    65% {
        transform:translateY(-12px);
    }
    75% {
        transform:translateY(0);
    }
    82% {
        transform:translateY(-6px);
    }
    87% {
        transform:translateY(0);
    }
    93% {
        transform:translateY(-4px);
    }
    100% {
        transform:translateY(0);
    }
}
.box h1{
    animation-name:bounce-top;
    animation-duration: 2s;
}